:root {
  --Verde-claro: #74c49c;
  --Verde-oscuro: #63a07f;
  --gris: #6d6e70;
  --letra-gris: #808080;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.4rem;
}

button:hover {
  background-color: var(--Verde-claro);
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  background: var(--Verde-claro);
}

header img {
  width: 225px;
  height: 52px;
  margin-left: 34px;
  align-self: center;
}

.content-video {
  display: grid;
  grid-template: repeat(10, 30px) / repeat(10, 1fr);
  height: auto;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  margin-block-start: 41px;
  margin-block-end: -19px;
}

.content-video img {
  height: 207px;
  width: 234px;
  grid-column: 3/9;
  grid-row: 2/2;
  justify-self: center;
  max-width: 100%;
  min-width: 58%;
}

.content-video p {
  grid-column: 3/9;
  grid-row: 1/2;
  margin-block-start: 8px;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  color: var(--Verde-claro);
  text-align: center;
  font-size: calc(0.4rem + 1vw);
}

.video {
  height: 100vh;
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
}

.video iframe {
  grid-column: 1/4;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  justify-self: center;
}

.oferta {
  width: 100%;
  height: auto;
  text-align: center;
}

.oferta h1 {
  margin: 90px 0px 15px;
  color: var(--Verde-oscuro);
  font-weight: 900;
  line-height: 2.2rem;
  font-family: "Lato", sans-serif;
  font-size: 2.9rem;
}

.oferta h3 {
  margin-bottom: 18px;
  color: var(--Verde-claro);
  font-weight: 900;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.oferta p {
  margin: 0 auto;
  color: var(--Verde-claro);
  font-family: "Lato", sans-serif;
  text-align: unset;
  font-weight: lighter;
  letter-spacing: 2px;
  max-width: 45%;
  font-size: calc(0.4rem + 1vw);
}

.promo {
  margin-top: 85px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--Verde-claro);
  color: white;
}

.promo h3 {
  font-family: "Lato", sans-serif;
  max-width: 386px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.8rem;
}

.learn {
  width: 100%;
}

.learn h3 {
  width: 100%;
  margin: 50px 0px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: var(--Verde-claro);
}

.learn .modulos {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: var(--letra-gris);
  font-size: 0.7rem;
}

.learn .modulos .content-modul {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 80%;
  min-width: 69%;
  align-self: center;
  width: 285px;
}

.learn .modulos .nike {
  width: 25px;
  height: 25px;
  display: block;
  background-image: url("assets/cheque2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  align-self: baseline;
}

.values {
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.oficcial {
  color: var(--Verde-claro);
}

.oficcial b {
  text-decoration-line: line-through;
}

.lanzamiento {
  color: var(--Verde-oscuro) !important;
}

.buy {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buy button {
  width: 165px;
  height: 50px;
  align-self: center;
  background: var(--Verde-oscuro);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 25px;
  border-color: var(--gris);
  border-style: solid;
  cursor: pointer;
}

.beneficios {
  background: var(--Verde-oscuro);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.cards .item {
  min-width: 50%;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 14px;
  background: white;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}

.cards .item img {
  margin-top: 30px;
}

.cards .item h4 {
  margin-top: 20px;
  color: var(--letra-gris);
  font-weight: bold;
}

.cards .item p {
  margin: 10px 20px 30px 20px;
  color: var(--letra-gris);
  font-weight: lighter;
  font-size: 0.8rem;
}

.yes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 50px 0px;
}

.yes button {
  width: 270px;
  height: 50px;
  align-self: center;
  background: var(--Verde-oscuro);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 25px;
  border-color: var(--gris);
  border-style: solid;
  cursor: pointer;
}

.yes h4 {
  color: var(--Verde-claro);
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

footer {
  width: 100%;
  background: var(--gris);
  font-weight: lighter;
  letter-spacing: 3px;
}

footer .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

footer .container img {
  min-width: 20%;
  max-width: 29%;
  margin-top: 25px;
  margin-bottom: 50px;
}

footer .derechos {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  color: white;
  font-family: "Lato", sans-serif;
}

footer .derechos h5 {
  max-width: 462px;
}

footer .gmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .gmail .msj {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-image: url(assets/carta.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.instagram {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(assets/logotipo-de-instagram.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.facebook {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(assets/facebook.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.carta {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(assets/avion-de-papel.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wpp {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(assets/whatsapp.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icons-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-bottom: 22px;
}

@media all and (max-width: 600px) {
  .video {
    height: 61vh;
  }

  .oferta h1 {
    font-size: 2.1rem;
  }

  .oferta h3 {
    font-size: 1.1rem;
  }

  .oferta p {
    max-width: 90%;
  }

  .promo h3 {
    max-width: 236px;
    font-size: 1.1rem;
  }

  footer .container img {
    max-width: 43%;
  }

  .learn .modulos .nike {
    min-width: 30px;
    min-height: 30px;
  }
}

@media all and (min-width: 735px) {
  .learn .modulos .content-modul {
    max-width: 64%;
    min-width: 50%;
  }
}

@media all and (min-width: 915px) {
  .learn .modulos .content-modul {
    max-width: 64%;
    min-width: 36%;
  }
}

@media only screen and (max-width: 417px) {
  header {
    height: 40px;
  }

  header img {
    width: 100px;
    height: 30px;
    margin-left: 20px;
    align-self: center;
  }

  .content-video {
    margin-block-start: 25px;
    margin-block-end: 0px;
    grid-template: repeat(4, 28px) / repeat(10, 1fr);
  }

  .content-video p {
    margin-block-start: 0px;
    grid-column: 1/11;
    white-space: pre;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .content-video img {
    height: 95px;
    width: 210px;
    grid-column: 2/10;
    grid-row: 1/4;
    margin-block-start: 10px;
  }

  .video {
    height: 33vh;
  }

  .oferta h1 {
    margin: 30px 0px 0px;
    font-size: 21px;
    line-height: inherit;
  }

  .oferta h3 {
    margin-bottom: 5px;
    font-size: 17px;
    white-space: pre;
  }

  .oferta p {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: normal;
  }

  .promo {
    margin-top: 30px;
    padding: 25px 0px;
  }

  .promo h3 {
    font-size: 19px;
  }

  .learn h3 {
    margin: 30px 0px 25px;
    font-size: 17px;
  }

  .learn .modulos .content-modul {
    max-width: 70%;
    font-size: 12px;
    white-space: pre;
  }

  .learn .modulos .nike {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
  }

  .learn .values h3 {
    margin: 25px 0px 25px;
    font-size: 15px;
  }

  .buy {
    margin-bottom: 30px;
  }

  .buy button {
    width: 140px;
    height: 40px;
    padding: 9px;
    font-size: 17px;
  }

  .beneficios {
    padding: 20px 0px;
  }

  .cards .item {
    height: 190px;
    width: 310px;
    max-width: 90%;
  }

  .cards .item p {
    margin: 7px 20px 20px 20px;
    font-size: 12px;
  }

  .cards .item h4 {
    margin-top: 15px;
    font-size: 14px;
  }

  .yes {
    margin: 30px 0px;
  }

  .yes button {
    width: 300px;
    height: 40px;
    padding: 9px;
    font-size: 17px;
  }

  .yes h4 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 343px) {
  .learn .modulos .content-modul {
    max-width: 75%;
    white-space: normal;
  }
}
